.main-nav ul, .header-content {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden; }

.l-acerca, .l-patrocinadores, .l-registro {
  max-width: 80%;
  margin: 0 auto; }

.contact input, .contact textarea, .contact button {
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-weight: 200;
  text-decoration: none;
  font-size: 21px;
  font-size: 2.1rem; }

* {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%; }

body {
  margin: 0;
  height: 100%; }

ul, ol {
  margin: 0; }

li {
  list-style: none; }

p, li {
  font-size: 16px;
  font-size: 1.6rem; }

a {
  text-decoration: none; }

.header-content {
  height: 450px; }

.l-acerca, .l-patrocinadores, .l-registro {
  padding: 100px 0; }

nav ul {
  padding: 0; }
nav li {
  list-style-type: none;
  margin: 0; }

.nav-main ul {
  text-align: center;
  border-top: 1px solid #fff; }
.nav-main li {
  display: inline-block;
  padding: 2%; }
.nav-main .nav-main-item {
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  outline: none;
  font-family: Roboto;
  font-weight: 200;
  text-transform: uppercase;
  color: #fff; }
  .nav-main .nav-main-item:hover {
    border-bottom: 1px solid; }

.header-main {
  overflow: hidden;
  background-size: cover;
  background-image: url(../img/flowers.jpeg); }

.home-container {
  width: 100%;
  background: rgba(0, 0, 0, 0.4); }

.home-icon {
  position: fixed;
  width: 20px;
  margin: 2%; }

.welcome {
  font-size: 21px;
  font-size: 2.1rem;
  font-family: 'Raleway', 'Roboto', sans-serif;
  text-align: center;
  color: #fff;
  height: 90%;
  padding: 21% 0 0 30%;
  width: 100%; }
  .welcome h1 {
    font-size: 3rem;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    border: 2px solid #fff;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.2); }
    @media (min-width: 680px) {
      .welcome h1 {
        font-size: 6rem; } }

.github-icon {
  width: 20px;
  position: fixed;
  margin: 6% 2%; }

.item-skill {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Raleway', 'Roboto', sans-serif; }

.percent {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Raleway', 'Roboto', sans-serif; }

.progress-html5 {
  background-color: #93C7BA;
  height: 50px;
  width: 70%;
  -webkit-animation-name: animate-html5;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-name: animate-html5;
  animation-duration: 1s; }

.content-progress-html5 {
  border: 1px solid #93C7BA; }

@-webkit-keyframes animate-html5 {
  0% {
    width: 0; }
  100% {
    width: 70%; } }
@-moz-keyframes animate-html5 {
  0% {
    width: 0; }
  100% {
    width: 70%; } }
.progress-css3 {
  background-color: #33B0AE;
  height: 50px;
  width: 60%;
  -webkit-animation-name: animate-css3;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-name: animate-css3;
  animation-duration: 1s; }

.content-progress-css3 {
  border: 1px solid #33B0AE; }

@-webkit-keyframes animate-css3 {
  0% {
    width: 0; }
  100% {
    width: 60%; } }
@-moz-keyframes animate-css3 {
  0% {
    width: 0; }
  100% {
    width: 60%; } }
.progress-js {
  background-color: #EB4C34;
  height: 50px;
  width: 50%;
  -webkit-animation-name: animate-js;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-name: animate-js;
  animation-duration: 1s; }

.content-progress-js {
  border: 1px solid #EB4C34; }

@-webkit-keyframes animate-js {
  0% {
    width: 0; }
  100% {
    width: 50%; } }
@-moz-keyframes animate-js {
  0% {
    width: 0; }
  100% {
    width: 50%; } }
.progress-ilustrador {
  background-color: #B5220B;
  height: 50px;
  width: 70%;
  -webkit-animation-name: animate-ilustrador;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-name: animate-ilustrador;
  animation-duration: 1s; }

.content-progress-ilustrador {
  border: 1px solid #B5220B; }

@-webkit-keyframes animate-ilustrador {
  0% {
    width: 0; }
  100% {
    width: 70%; } }
@-moz-keyframes animate-ilustrador {
  0% {
    width: 0; }
  100% {
    width: 70%; } }
.content-progress {
  width: 500px;
  margin-bottom: 2px; }

.contact {
  float: right;
  width: 80%;
  padding: 5%; }

.contact h4 {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  padding: 2%; }

.contact img {
  width: 40px; }

.contact input {
  width: 200px;
  height: 45px;
  padding-left: 20px;
  margin-bottom: 2%;
  font-size: 14px;
  font-size: 1.4rem; }

.contact textarea {
  width: 400px;
  height: 100px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 2%;
  font-size: 14px;
  font-size: 1.4rem; }

.contact button {
  width: 140px;
  height: 40px;
  margin-bottom: 2%;
  display: block;
  margin-left: 27%;
  background: #000;
  border: none;
  color: #fff;
  font-size: 18px;
  font-size: 1.8rem; }
  .contact button:hover {
    background: #33B0AE;
    border: 1px solid #33B0AE; }

.form-contact {
  width: 500px;
  margin: 0 auto; }

.contact {
  float: right;
  width: 80%;
  border: 1px solid #000;
  padding: 5%; }

.contact h4 {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  padding: 2%; }

.contact img {
  width: 40px; }

.contact input {
  width: 200px;
  height: 45px;
  padding: 2%;
  margin-bottom: 2%; }

.contact textarea {
  width: 400px;
  height: 100px;
  padding: 2%;
  margin-bottom: 2%; }

.contact button {
  width: 150px;
  height: 30px;
  margin-bottom: 2%;
  display: block;
  margin-left: 27%;
  background: #000;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Raleway', 'Roboto', sans-serif; }

/*# sourceMappingURL=style.css.map */
