.main-nav ul, .header-content {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden; }

.l-acerca, .l-patrocinadores, .l-registro {
  max-width: 80%;
  margin: 0 auto; }

.subtitle, .title-about-me, .contact input, .contact textarea, .contact button {
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-weight: 200;
  text-decoration: none;
  font-size: 21px;
  font-size: 2.1rem; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  font-family: sans-serif; }

* {
  box-sizing: inherit; }

body {
  margin: 0;
  height: 100%; }

ul, ol {
  margin: 0; }

li {
  list-style: none; }

p, li {
  font-size: 16px;
  font-size: 1.6rem; }

a {
  text-decoration: none; }

.header-content {
  height: 450px; }

.l-acerca, .l-patrocinadores, .l-registro {
  padding: 100px 0; }

nav ul {
  padding: 0; }
nav li {
  list-style-type: none;
  margin: 0; }

.nav-main ul {
  text-align: center;
  border-top: 1px solid #fff; }
.nav-main li {
  display: inline-block;
  padding: 2%; }
.nav-main .nav-main-item {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  outline: none;
  font-family: Roboto;
  font-weight: 200;
  text-transform: uppercase;
  color: #fff; }

.home-container {
  width: 100%;
  height: 1000px;
  float: right;
  background-size: cover;
  background-image: url(../img/flower.jpg); }

.welcome {
  font-size: 21px;
  font-size: 2.1rem;
  font-family: 'Raleway', 'Roboto', sans-serif;
  text-align: center;
  margin: 32% 0;
  color: #fff; }

.logo-main {
  margin: 0;
  position: absolute; }
  .logo-main a {
    color: #fff;
    font-family: 'Raleway', 'Roboto', sans-serif;
    font-weight: 200;
    text-decoration: none;
    font-size: 21px;
    font-size: 2.1rem; }

.about-me {
  float: right;
  width: 80%;
  padding: 5%; }

.info-about-me {
  width: 50%;
  padding: 8%;
  text-align: center; }

.born {
  float: left; }

.love {
  float: right; }

.education {
  margin: 0 auto; }

.rrss {
  display: inline-block;
  position: fixed;
  right: 0;
  width: 30px;
  margin: 30px; }
  .rrss img {
    width: 40px;
    margin-bottom: 20%;
    padding: 8px; }
    .rrss img:hover {
      border: 1px solid #000;
      border-radius: 21px; }

.item-skill {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Raleway', 'Roboto', sans-serif; }

.percent {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Raleway', 'Roboto', sans-serif; }

.progress-html5 {
  background-color: #93C7BA;
  height: 50px;
  width: 70%;
  -webkit-animation-name: animate-html5;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-name: animate-html5;
  animation-duration: 1s; }

.content-progress-html5 {
  border: 1px solid #93C7BA; }

@-webkit-keyframes animate-html5 {
  0% {
    width: 0; }
  100% {
    width: 70%; } }
@-moz-keyframes animate-html5 {
  0% {
    width: 0; }
  100% {
    width: 70%; } }
.progress-css3 {
  background-color: #33B0AE;
  height: 50px;
  width: 60%;
  -webkit-animation-name: animate-css3;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-name: animate-css3;
  animation-duration: 1s; }

.content-progress-css3 {
  border: 1px solid #33B0AE; }

@-webkit-keyframes animate-css3 {
  0% {
    width: 0; }
  100% {
    width: 60%; } }
@-moz-keyframes animate-css3 {
  0% {
    width: 0; }
  100% {
    width: 60%; } }
.progress-js {
  background-color: #EB4C34;
  height: 50px;
  width: 50%;
  -webkit-animation-name: animate-js;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-name: animate-js;
  animation-duration: 1s; }

.content-progress-js {
  border: 1px solid #EB4C34; }

@-webkit-keyframes animate-js {
  0% {
    width: 0; }
  100% {
    width: 50%; } }
@-moz-keyframes animate-js {
  0% {
    width: 0; }
  100% {
    width: 50%; } }
.progress-ilustrador {
  background-color: #B5220B;
  height: 50px;
  width: 70%;
  -webkit-animation-name: animate-ilustrador;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-name: animate-ilustrador;
  animation-duration: 1s; }

.content-progress-ilustrador {
  border: 1px solid #B5220B; }

@-webkit-keyframes animate-ilustrador {
  0% {
    width: 0; }
  100% {
    width: 70%; } }
@-moz-keyframes animate-ilustrador {
  0% {
    width: 0; }
  100% {
    width: 70%; } }
.content-progress {
  width: 500px;
  margin-bottom: 2px; }

.skills {
  float: right;
  width: 80%;
  padding: 5%; }

.porfolio {
  float: right;
  width: 80%;
  padding: 5%; }

.read-more {
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-weight: 200;
  text-decoration: none;
  font-size: 14px;
  font-size: 1.4rem;
  border: 1px solid #000;
  padding: 20px;
  margin-bottom: 20px;
  color: #000;
  display: block;
  width: 13%;
  margin-top: 20px;
  margin-bottom: 50px; }
  .read-more:hover {
    background: #000;
    color: #fff; }

.contact {
  float: right;
  width: 80%;
  padding: 5%; }

.contact h4 {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  padding: 2%; }

.contact img {
  width: 40px; }

.contact input {
  width: 200px;
  height: 45px;
  padding-left: 20px;
  margin-bottom: 2%;
  font-size: 14px;
  font-size: 1.4rem; }

.contact textarea {
  width: 400px;
  height: 100px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 2%;
  font-size: 14px;
  font-size: 1.4rem; }

.contact button {
  width: 140px;
  height: 40px;
  margin-bottom: 2%;
  display: block;
  margin-left: 27%;
  background: #000;
  border: none;
  color: #fff;
  font-size: 18px;
  font-size: 1.8rem; }
  .contact button:hover {
    background: #33B0AE;
    border: 1px solid #33B0AE; }

.form-contact {
  width: 500px;
  margin: 0 auto; }

.contact {
  float: right;
  width: 80%;
  border: 1px solid #000;
  padding: 5%; }

.contact h4 {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  padding: 2%; }

.contact img {
  width: 40px; }

.contact input {
  width: 200px;
  height: 45px;
  padding: 2%;
  margin-bottom: 2%; }

.contact textarea {
  width: 400px;
  height: 100px;
  padding: 2%;
  margin-bottom: 2%; }

.contact button {
  width: 150px;
  height: 30px;
  margin-bottom: 2%;
  display: block;
  margin-left: 27%;
  background: #000;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Raleway', 'Roboto', sans-serif; }

/*# sourceMappingURL=style.css.map */
