//
// Placeholders
//

%container {
  max-width: $max-width;
  margin: 0 auto;
  overflow: hidden;
}

%content {
  max-width: $content-width;
  margin: 0 auto;
}

%subtitle{
	font-family: 'Raleway', 'Roboto', sans-serif;
  font-weight: 200;
  text-decoration: none;
  @include font-size(21);
}