//
// Estilos de la pagina de inicio.
//

.home{
  width:$content-width;
  height: 100%;
  float:right;
  border: 1px solid #000;
  //background: url(../img/header2.jpg);
  background-size: cover;

}

// Parrafo de bienvenida.
.welcome{
	margin: 30% 10% 0 0;
	@include font-size(21);
  font-family: 'Raleway', 'Roboto', sans-serif;
	text-align: right;
}

// Sobre mi

.about-me{
  float: right;
  width: 80%;
  border: 1px solid #000;
  padding: 5%;
}

.title{
  font-family: 'Raleway', 'Roboto', sans-serif;
  @include font-size(32);
  border-bottom: 1px solid #000;
  display: inline-block;
  padding: 0 10px 10px 0;
  margin: 4% 0 4% 4%;
}

.info-about-me{
  width: 50%;
  padding: 8%;
  text-align: center;
}

.born{
  float: left;
}

.love{
  float: right;
}

.education{
  margin: 0 auto;
}

.skills{
  float: right;
  width: 80%;
  border: 1px solid #000;
  padding: 5%;
}

.porfolio{
  float: right;
  width: 80%;
  border: 1px solid #000;
  padding: 5%;
}

.porfolio h3{
  margin: 3%;
  @include font-size(16);
}

.porfolio img{
  width: 200px;
  float: left;
  margin: 3%;
}

.contact{
  float: right;
  width: 80%;
  border: 1px solid #000;
  padding: 5%;
}

.contact h4{
  @include font-size(14);
  display: inline-block;
  padding: 2%;
}

.contact img{
  width: 40px;
}

.contact input{
  width: 200px;
  height: 45px;
  padding: 2%;
  margin-bottom: 2%;
}

.contact textarea{
  width: 400px;
  height: 100px;
  padding: 2%;
  margin-bottom: 2%;
}

.contact button{
  width: 150px;
  height: 30px;
  margin-bottom: 2%;
  display: block;
  margin-left: 27%;
  background: #000;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Raleway', 'Roboto', sans-serif;
}

