//
// Estilos del header
//

//header-main
.header-main {
  overflow: hidden;
  background-size: cover;
  background-image: url(../img/flowers.jpeg);
}

.home-container{
  width: 100%;
  background: rgba(0,0,0,0.4);
}

.home-icon{
  position: fixed;
  width: 20px;
  margin: 2%;
}

// Parrafo de bienvenida.
.welcome{
  @include font-size(21);
    font-family: 'Raleway', 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
    height: 90%;
    padding: 21% 0 0 30%;
    width: 100%;
    h1 {
      font-size: 6rem;
      width: 54rem;
    }
}



