//
// Estilos del header
//

//header-main
// .header-main {
//   background: url(../img/background-logo2.jpg);
//   width: $header-width;
//   height:100%;
//   float: left;
//   position: fixed;
// }

.logo-main{
  margin: 0;
  position: absolute;
  a{
  	color: #fff;
  	font-family: 'Raleway', 'Roboto', sans-serif;
  	font-weight: 200;
  	text-decoration: none;
  	@include font-size(21);
  }
}



