//
// Estilos de la pagina de inicio.
//

.home-container{
  width: 100%;
  height: 1000px;
  float:right;
  background-size: cover;
  background-image: url(../img/flower.jpg);

}

// Parrafo de bienvenida.
.welcome{
	@include font-size(21);
    font-family: 'Raleway', 'Roboto', sans-serif;
    text-align: center;
    margin: 32% 0;
    color: #fff;
}




