//
// Estilos para la navegación
//

// Estilos generales

nav {
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0;
  }
}

// // Navegación principal

.nav-main {
  ul {
     text-align: center;
     border-top: 1px solid #fff;
  }
  li {
        display: inline-block;
        padding: 2%;

  }
  .nav-main-item {
    display: block;
    @include font-size(12);
    outline: none;
    font-family: Roboto;
    font-weight: 200;
    text-transform: uppercase;
    color: #fff;
  }
}