.porfolio{
  float: right;
  width: 80%;
  padding: 5%;
}

.read-more{
	font-family: 'Raleway', 'Roboto', sans-serif;
  font-weight: 200; 
  text-decoration: none;
  @include font-size(14);
  border: 1px solid #000;
  padding: 20px;
  margin-bottom: 20px;
  color: #000;
  display: block;
  width: 13%;
  margin-top: 20px;
  margin-bottom: 50px;
  &:hover{
    background:#000;
    color: #fff;
  }
}