.item-skill{
  @include font-size(18);
  font-family: 'Raleway', 'Roboto', sans-serif;
}

.percent{
  @include font-size(14);
  font-family: 'Raleway', 'Roboto', sans-serif;
}

.progress-html5 {
   	background-color: #93C7BA;;
   	height: 50px;
   	width: 70%;
    -webkit-animation-name: animate-html5; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: animate-html5;
    animation-duration: 1s;
} 

.content-progress-html5{
  border: 1px solid #93C7BA;
}

@-webkit-keyframes animate-html5 {
    0% {width: 0;}
    100%{width: 70%;}
}
@-moz-keyframes animate-html5 {
    0% {width: 0;}
    100%{width: 70%;}
}

.progress-css3{
   	background-color: #33B0AE;;
   	height: 50px;
   	width: 60%;
    -webkit-animation-name: animate-css3; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: animate-css3;
    animation-duration: 1s;
} 

.content-progress-css3{
  border: 1px solid #33B0AE;
}

@-webkit-keyframes animate-css3 {
    0% {width: 0;}
    100%{width: 60%;}
}
@-moz-keyframes animate-css3 {
    0% {width: 0;}
    100%{width: 60%;}
}

.progress-js{
   	background-color: #EB4C34;;
   	height: 50px;
   	width: 50%;
    -webkit-animation-name: animate-js; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: animate-js;
    animation-duration: 1s;
} 

.content-progress-js{
  border: 1px solid #EB4C34;
}

@-webkit-keyframes animate-js {
    0% {width: 0;}
    100%{width: 50%;}
}
@-moz-keyframes animate-js {
    0% {width: 0;}
    100%{width: 50%;}
}

.progress-ilustrador{
   	background-color: #B5220B;
   	height: 50px;
   	width: 70%;
    -webkit-animation-name: animate-ilustrador; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: animate-ilustrador;
    animation-duration: 1s;
} 

.content-progress-ilustrador{
  border: 1px solid #B5220B;
}

@-webkit-keyframes animate-ilustrador {
    0% {width: 0;}
    100%{width: 70%;}
}
@-moz-keyframes animate-ilustrador {
    0% {width: 0;}
    100%{width: 70%;}
}

.content-progress{
	width: 500px;
	margin-bottom: 2px;
}
